@page
@model QuarentenarioWeb.Pages.TiposPatogeno.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Tipo Patógeno</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPatogeno.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoPatogeno.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TipoPatogeno.Id">Editar</a> |
    <a asp-page="./Index">Voltar à lista</a>
</div>
