@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo!</h1>
    <p>Ao Sistema de Gestão de dados do Laboratório de Biologia Melecular do Quarentenário <a href="https://www.iac.sp.gov.br/">IAC</a>.</p>
</div>
