@page
@model QuarentenarioWeb.Pages.Analises.CreateModel

        @{
        ViewData["Title"] = "Create";
        }
        
        <h1>Create</h1>
        
    <h4>Boletim</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Analise.IdMaterial" class="control-label"></label>
                <select asp-for="Analise.IdMaterial" class ="form-control" asp-items="ViewBag.IdMaterial" >
                    <option value="">-- Selecione um Material --</option>
                </select>
                <span asp-validation-for="Analise.IdMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Analise.IdCliente" class="control-label"></label>
                <select asp-for="Analise.IdCliente" class ="form-control" asp-items="ViewBag.IdCliente" >
                    <option value="">-- Selecione um Cliente --</option>
                </select>
                <span asp-validation-for="Analise.IdCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Analise.Descricao" class="control-label"></label>
                <input asp-for="Analise.Descricao" class="form-control" />
                <span asp-validation-for="Analise.Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Analise.DataTermino" class="control-label"></label>
                <input asp-for="Analise.DataTermino" class="form-control" />
                <span asp-validation-for="Analise.DataTermino" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Analise.Finalizada" /> @Html.DisplayNameFor(model => model.Analise.Finalizada)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Voltar à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
