@page
@model QuarentenarioWeb.Pages.Anexos.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Anexo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Anexo.Id" />
            <div class="form-group">
                <label class="control-label">Arquivo atual</label>
                <div>
                    @Html.DisplayFor(model => model.Anexo.NomeArquivo)
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Upload" class="control-label">Substituir arquivo</label>
                <input asp-for="Upload" type="file" class="form-control" />
                <span asp-validation-for="Upload" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anexo.IdAnalise" class="control-label"></label>
                <select asp-for="Anexo.IdAnalise" class="form-control" asp-items="ViewBag.IdAnalise" >
                    <option value="">-- Selecione um Boletim --</option>
                </select>
                <span asp-validation-for="Anexo.IdAnalise" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anexo.IdAnaliseDetalhe" class="control-label"></label>
                <select asp-for="Anexo.IdAnaliseDetalhe" class="form-control" asp-items="ViewBag.IdAnaliseDetalhe" >
                    <option value="">-- Selecione uma Análise --</option>
                </select>
                <span asp-validation-for="Anexo.IdAnaliseDetalhe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" asp-route-idAnalise="@Model.IdAnalise" asp-route-idAnaliseDetalhe="@Model.IdAnaliseDetalhe">Voltar à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
